*{
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    font-weight: bold;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.padre {
    display: flex;
    flex-flow: column nowrap;
}
    .header {
        background: url('../recursos/images/logo-nashwa.png');
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu {
            background: rgba(0,0,0,.5);
            display: flex;
            flex-flow: row nowrap;
            height: 100px;
            align-items: center;
            border-bottom: 1px solid rgb(255, 255, 255 , .5);
        }
            .logo {
                flex: 1 1 auto;
            }
                .logo a {
                    color: whitesmoke;
                    font-size: 20px;
                    text-shadow: 2px 1px 3px darkblue;
                }
                .logo a:hover {
                    color: yellow;
                    text-shadow: 2px 1px 2px rgb(5, 100, 150);
                }
            .nav {
                flex: 5 1 auto;
            }
                .nav a {
                    color: whitesmoke;
                    text-shadow: 2px 1px 2px darkblue;
                    text-transform: uppercase;
                    font-size: 15px;
                    padding: 0px 10px;
                    letter-spacing: 2px;
                }
                    .nav a:hover {
                        color: yellow;
                        text-shadow: 2px 1px 2px rgb(5, 100, 150);
                    }
            .social {
                flex: 1 1 auto;
                display: flex;
            }
                .social a {
                    font-size: 20px;
                    color: whitesmoke;
                    padding: 0 0px;
                }
                .social .fb a:hover {
                    color: blue ;
                        text-shadow: 2px 1px 2px white;
                }
                .social .in a:hover {
                    color: orangered ;
                        text-shadow: 2px 1px 2px white;
                }
                .social .yt a:hover {
                    color: red ;
                        text-shadow: 2px 1px 2px white;
                }
                .social .tw a:hover {
                    color: deepskyblue ;
                        text-shadow: 2px 1px 2px white;
                }
        .texto-principal{
            height: 420px;
            display: flex;
            align-items: center;
            background: rgba(0,0,0,.5);
        }
            .texto {
                font-family: 'lora', serif;
                font-size: 30px;
                font-weight: bold;
                text-align: center;
                line-height: 1.6;
                text-transform: uppercase;
                color: whitesmoke;
                text-shadow: 2px 1px 3px darkblue;
            }

    .section {
        display: flex;
    }
        .articulos {
            background: #f7f7f7;;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
            h3 {
                color: #fff;
                font-size: 13px;
                padding: 10px 0;
                margin-top: -80px;
            }
            .img_article {
                width: 250px;
                height: 250px;
            }
            .section .articulos .article audio {
                width: 250px;
            } 
            .article {
                flex: 1 1 40%;
                color: #444;
                font-size: 13px;
                letter-spacing: 1px;
            }
        .navegacion {
            background: indigo;
            flex: 1 1 100%;
        }
        .aside {
            flex: 1 1 auto;
            border-left: 5px solid lightskyblue;
        }
            .title_aside {
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            .img_aside {
                width: 250px;
                height: 250px;
            }
            .publicidad {
            }
    .footer {
        background: darkkhaki;
        display: flex;
        justify-content: center;
    }
        .pie {
            background: hotpink;
            width: 300px;
        }

@media all and (max-width: 800px){
    .section {
        flex-direction: column;
    }
    .menu {
        flex-direction: column;
        height: auto;
    }
    .aside {
        display: flex;
        justify-content: center;
    }
}

@media all and (max-width: 600px){
    .articulos {
        flex-direction: column;
    }
}

@media all and (max-width: 400px){
    .aside {
        flex-direction: column;
    }
}